
{% extends 'base.html' %}

{%block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=El+Messiri&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}
{%block content%}
<div class="container" style="padding-bottom: 20px;">
    <img src="https://images.unsplash.com/photo-1425421669292-0c3da3b8f529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
        alt="pitch" height="170px" width="300px" style="border-radius: 3000px ; margin-left:430px"><br><br>
    <a href="{{url_for('main.pitchNew')}}" class="btn btn-primary" style="margin-left:500px;font-family: 'El Messiri', sans-serif;">Pitch in one minute</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <img src="https://images.wallpaperscraft.com/image/jared_rosholt_ultimate_fighting_championship_fighter_interviews_107145_300x168.jpg"
                    alt="interview" style="margin-left: -30px"><br><br>
                 <a href="{{url_for('main.pitchInterview')}}" class="btn btn-primary -center" style="font-family: 'El Messiri', sans-serif;">View interview pitches</a>
            </div>

        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <img src="https://images.unsplash.com/photo-1519520104014-df63821cb6f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="product" height="170px" width="300px" style="margin-left: -30px">
                <br><br>
                <a href="{{url_for('main.pitchProduct')}}" class="btn btn-primary -center" style="font-family: 'El Messiri', sans-serif;">View product pitches</a>
            </div>

        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <img src="https://images.unsplash.com/photo-1512106374988-c95f566d39ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="promotion" height="170px" width="300px" style="margin-left: -30px">
                <br><br>
                <a href="{{url_for('main.pitchPromotion')}}" class="btn btn-primary -center" id="view" style="font-family:'El Messiri', sans-serif ">View promotion pitches</a>
            </div>

        </div>
    </div>
</div>
{%endblock%}

<style>
    @import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

    #view {
        font-family: 'El Messiri', sans-serif;
    }
</style>