{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<div>
        <img src="https://images.unsplash.com/photo-1519520104014-df63821cb6f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
        alt="product" height="170px" width="300px" style="margin-left: 500px;border-radius: 3000px">
    <h1 style="text-align: center">Product Pitches</h1>
</div>
<div class="container">
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
    <!-- <div>
    {%if comments%}
    
            {{macro.displayComments(comments)}}
            {%else%}
    <p>no comments yet</p>
    {%endif%}
    </div> -->
</div>
<style>
    @import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

    h1 {
        font-family: 'El Messiri', sans-serif;
    }
</style>
{%endblock%}